<launch>
    <arg name="robot" default="create" />
    <arg name="ns" default="agent0" />
    <arg name="ip" default="-x 0 -y 0 -z 0" />
    <group ns="$(arg ns)">
        <param name="tf_prefix" value="$(arg ns)_tf" />
        <include file="$(find turtlebot_gazebo)/launch/includes/$(arg robot).launch">
            <arg name="ROBOT_NAME" value="$(arg ns)" />
            <arg name="INIT_POSE" value="$(arg ip)" />
        </include>
    </group>
</launch>
