<launch>
  <!-- kobuki, create -->
  <arg name="robot" value="create" /> 
  <!-- <arg name="robot" value="kobuki" /> -->
  
  <arg name="world" value="empty_goal" />
  <!-- <arg name="world" value="empty_wall" /> -->
  <!-- <arg name="world" value="static_obs" /> -->
  <arg name="rviz" value="false" />
  <arg name="rviz_file" value="single_turtlebot" />

  <arg name="ns1" value="robot1" />
  <arg name="ip1" value="-x 0 -y 0 -z 0" />
  <arg name="ns2" value="robot2" />
  <arg name="ip2" value="-x 1 -y 1 -z 0" />
  
  <arg name="ons0" value="obs0" />
  <arg name="oip0" value="-x 5 -y 0 -z 0" />

  <group ns="$(arg ns1)">
  <param name="tf_prefix" value="$(arg ns1)_tf" />
    <include file="$(find turtlebot_gazebo)/launch/includes/$(arg robot).launch">
        <arg name="ROBOT_NAME" value="$(arg ns1)" />
        <arg name="INIT_POSE" value="$(arg ip1)" />
    </include>
  </group>

  <group ns="$(arg ns2)">
  <param name="tf_prefix" value="$(arg ns2)_tf" />
    <include file="$(find turtlebot_gazebo)/launch/includes/$(arg robot).launch">
        <arg name="ROBOT_NAME" value="$(arg ns2)" />
        <arg name="INIT_POSE" value="$(arg ip2)" />
    </include>
  </group>

  <group ns="$(arg ons0)">
  <param name="tf_prefix" value="(arg ons0)_tf" />
    <include file="$(find turtlebot_gazebo)/launch/includes/obstacle.launch">
      <arg name="ROBOT_NAME" value="$(arg ons0)" />
      <arg name="INIT_POSE" value="$(arg oip0)" />
    </include>
  </group>

  <include file="$(find turtlebot_gazebo)/launch/origin/start_world.launch">
    <arg name="gazebo_world" value="$(arg world)" />
  </include>

  <group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find turtlebot_gazebo)/rviz/$(arg rviz_file).rviz" />
  </group>

</launch>