<launch>
  <arg name="ons0" value="obs0" />
  <arg name="oip0" value="-x -10 -y 10 -z 0" />

  <arg name="ons1" value="obs1" />
  <arg name="oip1" value="-x -10 -y 8 -z 0" />

  <arg name="ons2" value="obs2" />
  <arg name="oip2" value="-x -10 -y 6 -z 0" />

  <arg name="ons3" value="obs3" />
  <arg name="oip3" value="-x -10 -y 4 -z 0" />

  <arg name="ons4" value="obs4" />
  <arg name="oip4" value="-x -10 -y 2 -z 0" />

  <arg name="ons5" value="obs5" />
  <arg name="oip5" value="-x -10 -y -2 -z 0" />

  <arg name="ons6" value="obs6" />
  <arg name="oip6" value="-x -10 -y -4 -z 0" />

  <arg name="ons7" value="obs7" />
  <arg name="oip7" value="-x -10 -y -6 -z 0" />

  <arg name="ons8" value="obs8" />
  <arg name="oip8" value="-x -10 -y -8 -z 0" />

  <arg name="ons9" value="obs9" />
  <arg name="oip9" value="-x -10 -y -10 -z 0" />

  <group ns="$(arg ons0)">
  <param name="tf_prefix" value="(arg ons0)_tf" />
    <include file="$(find turtlebot_gazebo)/launch/includes/obstacle.launch">
      <arg name="ROBOT_NAME" value="$(arg ons0)" />
      <arg name="INIT_POSE" value="$(arg oip0)" />
    </include>
  </group>

  <group ns="$(arg ons1)">
  <param name="tf_prefix" value="(arg ons1)_tf" />
    <include file="$(find turtlebot_gazebo)/launch/includes/obstacle.launch">
      <arg name="ROBOT_NAME" value="$(arg ons1)" />
      <arg name="INIT_POSE" value="$(arg oip1)" />
    </include>
  </group>

  <group ns="$(arg ons2)">
  <param name="tf_prefix" value="(arg ons2)_tf" />
    <include file="$(find turtlebot_gazebo)/launch/includes/obstacle.launch">
      <arg name="ROBOT_NAME" value="$(arg ons2)" />
      <arg name="INIT_POSE" value="$(arg oip2)" />
    </include>
  </group>

</launch>