<launch>
    <arg name="robot_env" default="one_robot" />
    <arg name="obs_env" default="ten_cyl" />
    <arg name="world" default="ten_goal_wall" />
    <arg name="gazebo" default="true" />
    <arg name="world_file"  default="$(find turtlebot_gazebo)/worlds/$(arg world).world"/>

    <include file="$(find turtlebot_gazebo)/launch/$(arg robot_env).launch" />
    <include file="$(find turtlebot_gazebo)/launch/$(arg obs_env).launch" />
    
    <group if="$(arg gazebo)">
        <node name="gazebo" pkg="gazebo_ros" type="gzserver" output="screen"
            args="$(arg world_file)" />
        <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
    </group>
</launch>