<?xml version="1.0"?>
<launch>
    <rosparam command="load" file="$(find actor_services)/param/config.yaml" />

    <param name="BASE_PKG" type="string" value="turtlebot_gazebo" />
    <param name="BASE_WORLD" type="string" value="empty_wall" />
    <param name="SAVE_PKG" type="string" value="decision" />
    <param name="SAVE_WORLD" type="string" value="one_ped" />
    <node name="create_ped" pkg="decision" type="CreatePed.py" />

    <arg name="gui" default="true"/>
	<!-- start gazebo client -->
    <group if="$(arg gui)">
        <arg name="world_file"  default="$(find decision)/worlds/one_ped.world"/>
        <node name="gazebo" pkg="gazebo_ros" type="gzserver" output="screen"
            args="$(arg world_file)" />
        <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
    </group>

</launch>