<?xml version="1.0"?>
<robot name="laser_sim" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Microsoft Kinect / ASUS Xtion PRO Live for simulation -->
  <xacro:macro name="turtlebot_sim_laser">
	<gazebo reference="laser_sensor_link">
		<sensor type="gpu_ray" name="laser_sensor">
			<pose>0 0 0 0 0 0</pose>
			<visualize>False</visualize>
			<update_rate>50</update_rate>
			<ray>
				<scan>
					<horizontal>
						<samples>90</samples>
						<resolution>1</resolution>
						<!-- <min_angle>-${M_PI}</min_angle>
						<max_angle>${M_PI}</max_angle> -->
						<min_angle>-${M_PI/4}</min_angle>
						<max_angle>${M_PI/4}</max_angle>
					</horizontal>
				</scan>
				<range>
					<min>0.10</min>
					<max>3.0</max>
					<resolution>0.01</resolution>
				</range>
				<noise>
					<type>gaussian</type>
					<mean>0.0</mean>
					<stddev>0.01</stddev>
				</noise>
			</ray>
			<plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_gpu_laser.so">
				<topicName>/scan</topicName>
				<frameName>laser_sensor_link</frameName>
			</plugin>
		</sensor>
	</gazebo>
  </xacro:macro>
</robot>
